# ===========================
# Archivos del sistema / generales
# ===========================
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
*.bak
*.tmp
*.log
*.lock
*.pid
*.out
__pycache__/
.cache/
*.orig

# ===========================
# Configuración de IDEs
# ===========================
.vscode/
.idea/
*.iml
*.ipr
*.iws
out/
.history/
.code-workspace

# Eclipse
.project
.classpath
.settings/
.loadpath

# Xcode
DerivedData/
*.xcuserstate
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata

# ===========================
# Backend (Python / FastAPI)
# ===========================
venv/
.env
env/
ENV/
env.bak/
.tox/
.pytest_cache/
.mypy_cache/
htmlcov/
*.cover
*.py[cod]
*.pyo
*.pyd

# Build artifacts
build/
dist/
coverage/
.coverage
*.egg-info/
.eggs/
MANIFEST
*.manifest
*.spec

# ===========================
# Frontend (Angular / TypeScript)
# ===========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.angular/
.angular-cache/
.eslintcache
*.tsbuildinfo
.out/

# ===========================
# Mobile (Android / Kotlin / Gradle)
# ===========================
.gradle/
captures/
outputs/
intermediates/
local.properties
*.apk
*.aar
*.ap_
*.dex
*.class
*.so
*.keystore
*.jks
*.hprof


# ===========================
# Archivos temporales / varios
# ===========================
tmp/
temp/
backup/
backups/
uploads/
media/
files/
storage/
staticfiles/
static/
*.sqlite3
*.db
*.local
*.pem
*.crt
*.key
*.csr
*.pfx