<div *ngIf="toastMessage" class="toast" [ngClass]="toastType">
  {{ toastMessage }}
</div>
<div class="crear-producto-container">
  <h1 class="page-title">Crear producto</h1>

  <form [formGroup]="productoForm" class="producto-form" (ngSubmit)="crearProducto()">
    <div class="form-content">
      <div class="form-row">
        <div class="form-field">
          <label class="field-label">Nombre Producto</label>
          <input type="text" class="form-input" formControlName="name" placeholder="Acetaminofén 500mg Caja x20">
          <div *ngIf="f['name'].touched && f['name'].invalid" class="validation-error">
            <small *ngIf="f['name'].errors?.['required']">El nombre es requerido.</small>
          </div>
        </div>

        <div class="form-field">
          <label class="field-label">Número de Lote</label>
          <input type="text" class="form-input" formControlName="batch" placeholder="ACET500-2026-05">
          <div *ngIf="f['batch'].touched && f['batch'].invalid" class="validation-error">
            <small *ngIf="f['batch'].errors?.['required']">El lote es requerido.</small>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-field">
          <label class="field-label">Bodega</label>
          <input type="text" class="form-input" formControlName="store" placeholder="CEDI Principal">
          <div *ngIf="f['store'].touched && f['store'].invalid" class="validation-error">
            <small *ngIf="f['store'].errors?.['required']">La bodega es requerida.</small>
          </div>
        </div>

        <div class="form-field">
          <label class="field-label">Fecha de Vencimiento</label>
          <input title="Selecciona una fecha" type="date" class="form-input" formControlName="due_date">
          <div *ngIf="f['due_date'].touched && f['due_date'].invalid" class="validation-error">
            <small *ngIf="f['due_date'].errors?.['required']">La fecha es requerida.</small>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-field">
          <label class="field-label">Stock (Cantidad)</label>
          <input type="number" class="form-input" formControlName="stock" placeholder="1500">
          <div *ngIf="f['stock'].touched && f['stock'].invalid" class="validation-error">
            <small *ngIf="f['stock'].errors?.['required']">El stock es requerido.</small>
            <small *ngIf="f['stock'].errors?.['min']">El stock debe ser mayor a 0.</small>
          </div>
        </div>

        <div class="form-field">
          <label class="field-label">Precio por Unidad</label>
          <input type="number" step="0.01" class="form-input" formControlName="price_per_unit" placeholder="25000">
          <div *ngIf="f['price_per_unit'].touched && f['price_per_unit'].invalid" class="validation-error">
            <small *ngIf="f['price_per_unit'].errors?.['required']">El precio es requerido.</small>
            <small *ngIf="f['price_per_unit'].errors?.['min']">El precio debe ser mayor a 0.</small>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-field form-field-full">
          <label class="field-label">ID del Proveedor</label>
          <input type="text" class="form-input" formControlName="provider_id"
            placeholder="Copie y pegue el ID de un proveedor existente">
          <div *ngIf="f['provider_id'].touched && f['provider_id'].invalid" class="validation-error">
            <small *ngIf="f['provider_id'].errors?.['required']">El ID del proveedor es requerido.</small>
            <small *ngIf="f['provider_id'].errors?.['minlength'] || f['provider_id'].errors?.['maxlength']">Debe ser un
              ID
              válido de 36 caracteres.</small>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-field form-field-full">
          <label class="field-label">URL de la Imagen (Opcional)</label>
          <input type="text" class="form-input" formControlName="image_url"
            placeholder="https://ejemplo.com/imagen.png">
        </div>
      </div>

      <div class="form-row">
        <div class="form-field form-field-full">
          <label class="field-label">Ficha Técnica / Detalles</label>
          <textarea class="form-textarea" formControlName="details" rows="4"
            placeholder="Analgésico y antipirético. Indicado para el alivio sintomático del dolor..."></textarea>
          <div *ngIf="f['details'].touched && f['details'].invalid" class="validation-error">
            <small *ngIf="f['details'].errors?.['required']">Los detalles son requeridos.</small>
            <small *ngIf="f['details'].errors?.['minlength']">Debe tener al menos 10 caracteres.</small>
          </div>
        </div>
      </div>
    </div>


    <div class="form-actions">
      <button type="button" class="btn-secondary" (click)="crearProductoMasivo()">
        CREAR PRODUCTOS MASIVO
      </button>
      <button type="submit" class="btn-primary" [disabled]="isLoading || productoForm.invalid">
        {{ isLoading ? 'CREANDO...' : 'CREAR PRODUCTO' }}
      </button>
    </div>
  </form>
</div>
